@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Raleway:wght@400;500&display=swap');

:root {
    --main-red: #950F29;
    --title: #2E2F3F;
    --background-red: #540819;
    --highlight: #FCE05E;
    --header: #F8C572;
    --white: #FFFFFF;
}

h1, h2, .primary-button, .branding, .nav-link {
    font-family: 'Quattrocento', var(--font-family-sans-serif);
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-feature-settings: 'ss01' on, 'ss04' on;
}

.nav-link {
    letter-spacing: normal;
    font-size: 1rem;
    line-height: 2.5rem;
    color: var(--header);
    flex-grow: 1;
    padding: 0;
}

.nav-link.current, .nav-link:hover {
    color: var(--highlight);
}

.branding {
    color: white;
    font-size: 1.75rem;
    line-height: 2rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5rem;
    line-height: 3.75rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

body {
    font-family: 'Raleway', var(--font-family-sans-serif);
    font-size: 1.25rem;
}

.primary-button {
    font-size: 3rem;
    background: var(--main-red);
    color: var(--white);
    line-height: 6rem;
    width: 50%;
    border-radius: 100px;
}

.primary-button:hover {
    color: var(--white);
    background-color: var(--background-red);
    text-decoration: none;
}

.bg-cover {
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/landingBg.jpg");
    background-color: #BFDCF1;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

nav {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--main-red);
    -webkit-box-shadow: inset -35px -35px 70px #AB112F,
                        inset 35px 35px 70px #7F0D23;
       -moz-box-shadow: inset -35px -35px 70px #AB112F,
                        inset 35px 35px 70px #7F0D23;
            box-shadow: inset -35px -35px 70px #AB112F,
                        inset 35px 35px 70px #7F0D23;
    padding-top: 60px;
    padding-bottom: 25px;
    color: var(--white)
}

.nav-button {
    background-color: transparent !important;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='1.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    padding: 25px;
    border: none;
}

.nav-menu {
    display: none;
}

.nav-menu.open {
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: column;
    justify-items: stretch;
    position: fixed;
    top:0;
    right: 0;
    width: 50%;
    background: var(--main-red);
    height: 100vh;
    z-index: 2 !important;
}

.navbar-exit {
    z-index: 1;
    content: '';
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background-color: #000b;
}

.nav-menu.open .nav-link{
    text-align: center;
    line-height: 5rem;
}

.main-red {
    color: var(--main-red);
}

footer {
    color: white;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: var(--main-red);
    -webkit-box-shadow: inset -35px -35px 70px #AB112F,
                        inset 35px 35px 70px #7F0D23;
       -moz-box-shadow: inset -35px -35px 70px #AB112F,
                        inset 35px 35px 70px #7F0D23;
            box-shadow: inset -35px -35px 70px #AB112F,
                        inset 35px 35px 70px #7F0D23;
}

hr {
    border: 1px solid #F8C572;
}

@media (min-width: 992px) {
    .nav-menu {
        display: -ms-inline-flexbox;
        display: inline-flex;
        flex-direction: row;
        justify-items: stretch;
    }
}